{% load static %}<div class="row">
            <div class="col-sm-12 ui-resizable" data-type="container-content"><div data-type="component-text">
<h1 style="text-align: center;"><span style="color:#3498db;">Heading text 1</span></h1>

<p style="text-align: center;"><span style="color:#f1c40f;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro labore architecto fuga tempore omnis aliquid, rerum numquam deleniti ipsam earum velit aliquam deserunt, molestiae officiis mollitia accusantium suscipit fugiat esse magnam eaque cumque, iste corrupti magni? Illo dicta saepe, maiores fugit aliquid consequuntur aut, rem ex iusto dolorem molestias obcaecati eveniet vel voluptatibus recusandae illum, voluptatem! Odit est possimus nesciunt.</span></p>

<p style="text-align: center;">&nbsp;</p>
</div>
<div class="row">
        <div class="col-sm-4 ui-resizable" data-type="container-content"><div data-type="component-photo">
                <div class="photo-panel" style="text-align: center;">
                    <img src="http://f9d5e4eba28a.ngrok.io/static/newsletter_with_frontend/snippets/img/somewhere_bangladesh_squared.jpg" width="100%" height="" style="display: inline-block; width: 200px; height: 200px;" class="img-circle img-responsive">
                </div>
            </div><div data-type="component-text">
<h3 style="text-align: center;">Lorem ipsum</h3>

<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, alias, temporibus? Vero natus modi ipsa debitis, accusamus accusantium cum quam. Saepe atque quisquam pariatur voluptatem expedita reprehenderit et vitae.</p>
</div>
</div>
        <div class="col-sm-4 ui-resizable" data-type="container-content"><div data-type="component-photo">
                <div class="photo-panel" style="text-align: center;">
                    <img src="http://f9d5e4eba28a.ngrok.io/static/newsletter_with_frontend/snippets/img/wellington_newzealand_squared.jpg" width="100%" height="" style="display: inline-block; width: 200px; height: 200px;" class="img-circle">
                </div>
            </div><div data-type="component-text">
<h3 style="text-align: center;">Lorem ipsum</h3>

<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, aut, earum. Quod, debitis, delectus. Maxime eius ipsam sit dolorum perspiciatis obcaecati consectetur, explicabo reprehenderit repellat tempore eos ducimus!</p>
</div>
</div>
        <div class="col-sm-4 ui-resizable" data-type="container-content"><div data-type="component-photo">
                <div class="photo-panel" style="text-align: center;">
                    <img src="http://f9d5e4eba28a.ngrok.io/static/newsletter_with_frontend/snippets/img/yenbai_vietnam_squared.jpg" width="100%" height="" style="display: inline-block; width: 200px; height: 200px;" class="img-circle">
                </div>
            </div><div data-type="component-text">
<h3 style="text-align: center;">Lorem ipsum</h3>

<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus dicta corrupti aliquam, natus voluptatem pariatur quidem nostrum nisi corporis id ratione exercitationem et recusandae incidunt assumenda soluta qui odit.</p>
</div>
</div>
    </div><div data-type="component-text">
<p>&nbsp;</p>

<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro labore architecto fuga tempore omnis aliquid, rerum numquam deleniti ipsam earum velit aliquam deserunt, molestiae officiis mollitia accusantium suscipit fugiat esse magnam eaque cumque, iste corrupti magni? Illo dicta saepe, maiores fugit aliquid consequuntur aut, rem ex iusto dolorem molestias obcaecati eveniet vel voluptatibus recusandae illum, voluptatem! Odit est possimus nesciunt.</p>
</div>
<div class="page-header" data-type="component-text">
<h1 style="margin-bottom: 30px; font-size: 50px; text-align: center;"><span style="font-size:11px;"><em>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</em></span></h1>
</div>
</div>
        </div>